//- h1 Dashboard Admin

//- <div>
//-     each product, index in products
//-         <h3>#{product.title}</h3>
//-         <p>#{product.cat}</p>
//- </div>


extends layout

block content
  h1 Dashboard Admin
//-   .card-deck
//-     each product in products
//-       .card
//-         .card-body
//-           h5.card-title #{product.title}
//-           p.card-text Category: #{product.cat}

